<div id="<%= dom_id todo %>">
  <p>
    <strong>Titile:</strong>
    <%= todo.title %>
  </p>

  <p>
    <strong>Task:</strong>
    <%= todo.task %>
  </p>

  <p>
    <strong>Date:</strong>
    <%= todo.date %>
  </p>

  <p>
    <strong>Time:</strong>
    <%= todo.time %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= todo.status %>
  </p>

</div>
